body {
	margin:0;
	font-family: 'GothamMedium';
    background-color: #f8f8f8;
    height: 2000px !important;
}

.navbar {
    opacity: 0.9;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.dot-container {
	margin-top: 100px;
}

.content-title {
	font-family: 'GothamBook';
	font-size: 70px;
	text-align: left;
	color: #333;
	opacity: 0.75;
}

.sub-title {
	font-family: 'GothamMedium';
	font-size: 16px;
	margin: 10px;
	color: #d5d5d5;
}

.code-snippet {
	background: #fff;
	border: 2px #f2f2f2 solid;
	border-radius: 4px;
	font-family: monospace;
	padding: 10px;
	box-shadow: 0px 0px 2px #eaeaea;
	font-size: 12px;
}

.effect-listen:hover {
	cursor: default;
}

.lin-growth-container {
	margin-top: 50px;
}

.fill-in-text {
	font-family: 'GothamMedium';
	font-size: 25px;
	color: #dadada;
	opacity: 0.9;
	margin: 40px;
	padding: 20px;
	text-align: center;
	border-top: 2px #f2f2f2 solid;
	border-bottom: 2px #f2f2f2 solid;
}
